<div class="card" style="background-color: #DCDCDC; border-color: #DCDCDC;">
<div class="card-body">
<div class="row">
	<div class="col-12">
		<h2 class="card-title">Issues?</h2>
		<p class="card-text">
			This website is maintained by Kesav Kadalazhi.
			<a href="mailto:kkadalazhi2@gmail.com">Email me</a> if you have any issues with the website, or if you have any feedback.
		</p>
	</div>
	<!-- <div class="col-md-8">
		<h2 class="card-title">Our Members</h2>
		<p class="card-text">
			Coming soon
		</p>
	</div> -->
</div>
</div>
</div>
