<div class="card" style="background-color: #DCDCDC; border-color: #DCDCDC;">
<div class="card-body">
<div class="row">
	<div class="col-md-8">
		<h2 class="card-title">Our Members</h2>
		<p class="lead card-text">
			We are a team of high school kids who love to build robots! We design, build, program, and test amazing creation to
			compete in the FIRST Robotics Challenges. We also focus on reaching out to our community
			to share the wonders of science and technology.
			Our goal is to grow the individual not only in knowledge but also in character.
		</p>
	</div>
	<div class="col-md-4">
		<h2 class="card-title">Problem?</h2>
		<p class="lead card-text">
			<a href="mailto:kkadalazhi2@gmail.com">Email Kesav Kadalazhi</a> if there are any problems with the website.
		</p>
	</div>
</div>
</div>
</div>
