<div class="container">

	<br>

	<h1 class="display-4">About</h1>

	<br>

	<p>
		Team Paradise is a robotics team that has competed in the FIRST Robotics challenge since 2003. Our team has seen
		a lot of success throughout our years of competition competing nationally against teams from across the globe.
		Currently, we have a high school program that teaches grades 9 to 12 how to use industry level machinery and
		cutting edge programming skills to make real size robots to compete in sports-like competitions. Not only do we have a
		very successful high school program, but we help a ton in our community. Our mission is to spread STEM into all areas of
		education and show that every student has the potential for greatness. Over the past two years our team has mentored over
		40 FLL  teams, three of them going on to win awards at the state level and compete internationally. We also created an
		online STEM course that helped out over 15,000 students from all 50 States and numerous countries internationally.
		Our team is all about spreading the STEM message, and we are looking for every other opportunity to showcase the
		potential in every student.
	</p>

	<p>
		Our primary funding is through donations, fundraisers, and club dues.
		The funding is used for the cost of parts, transportation, and other items needed during the year.
		We would greatly appreciate it if parents would donate to our team.
		Plus, donations of $200 per supporter are eligible for a tax credit.
	</p>

	<h3>Team Paradise Vision Statement</h3>

	<br>

	<p>
		We aim to promote STEM education to our community through robotics while maintaining a standard of excellence
		and gracious professionalism in the FIRST Robotics Competition.
	</p>

	<h3>Team Paradise Mission Statement</h3>

	<br>

	<p>
		To spread the core values of FIRST in our school and community, promote leadership characteristics and develop
		a high-performing robot in the FIRST Robotics Competition.
	</p>

	<h3>FIRST Vision Statement</h3>

	<br>

	<p>
		To transform our culture by creating a world where science and technology are celebrated and
		where young people dream of becoming science and technology leaders.
	</p>

	<h3>FIRST Mission Statement</h3>

	<br>

	<p>
		Our mission is to inspire young people to be science and technology leaders, by engaging them
		in exciting mentor based programs that build science, engineering, and technology skills, that
		inspire innovation, and that  foster well-rounded life capabilities including self-confidence,
		communication, and leadership.
	</p>

</div>
