<div class="container">

	<br>

    <h1 class="display-4">Contact Us</h1>

	<br>

	<div *ngIf="!auth.user">

	    <div class="card">
			<div class="card-header">
				<h1>Connect with us on Social Media</h1>
			</div>
			<div class="list-group list-group-flush">
				<a class="list-group-item list-group-item-action" [href]="Media.URL" target="_blank" *ngFor="let Media of Media$ | async">
	            	{{Media.Name}}: {{Media.Text}}
				</a>
			</div>
		</div>

	    <br>

	    <div class="card">
			<div class="card-header">
				<h1>Officer Board {{year}}</h1>
			</div>
			<div class="list-group list-group-flush">
				<a *ngFor="let Officer of Board$ | async" href="mailto:{{Officer.Email}}" target="_blank" class="list-group-item list-group-item-action">
					{{Officer.Title}}: {{Officer.Name}}
				</a>
			</div>
		</div>

	</div>

	<div *ngIf="auth.user">

	    <div class="card">
			<div class="card-header">
				<h1>Connect with us on Social Media</h1>
			</div>
			<ul class="list-group list-group-flush">
				<li *ngFor="let Medium of Media$ | async" class="list-group-item">
					<div class="input-group">
						<input type="text" [(ngModel)]="Medium.Name" class="form-control">
						<span class="input-group-addon"></span>

						<input type="text" [(ngModel)]="Medium.URL" class="form-control">
						<span class="input-group-addon"></span>

						<input type="text" [(ngModel)]="Medium.Text" class="form-control">

						<div class="input-group-btn">
							<button class="btn btn-danger" (click)="saveMedia(Medium);">
								<i class="fa fa-lg fa-save"></i>
							</button>
						</div>
						<div class="input-group-btn">
							<button class="btn btn-danger" (click)="removeMedia(Medium.id);">
								<i class="fa fa-lg fa-trash"></i>
							</button>
						</div>
					</div>
				</li>

				<li class="list-group-item">
					<div class="input-group">
						<input type="text" [(ngModel)]="newMedia.Name" placeholder="Name" class="form-control">
						<span class="input-group-addon"></span>

						<input type="text" [(ngModel)]="newMedia.URL" placeholder="URL" class="form-control">
						<span class="input-group-addon"></span>

						<input type="text" [(ngModel)]="newMedia.Text" placeholder="Display Text" class="form-control">

						<div class="input-group-btn">
							<button class="btn btn-danger" (click)="addMedia(newMedia);">
								<i class="fa fa-lg fa-plus"></i>
							</button>
						</div>
					</div>
				</li>
			</ul>
		</div>

	    <br>

	    <div class="card">
			<div class="card-header">
				<h1>Officer Board {{year}}</h1>
			</div>
			<ul class="list-group list-group-flush">
				<li *ngFor="let Officer of Board$ | async" class="list-group-item">
					<div class="input-group">
						<span class="input-group-addon">{{Officer.Title}}</span>
						<input type="text" [(ngModel)]="Officer.Name" class="form-control">
						<span class="input-group-addon"></span>
						<input type="text" [(ngModel)]="Officer.Email" class="form-control">
						<div class="input-group-btn">
							<button class="btn btn-danger" (click)="saveOfficer(Officer);">
								<i class="fa fa-lg fa-save"></i>
							</button>
						</div>
					</div>
				</li>
			</ul>
		</div>

	</div>

	<br>

</div>
