<div class="container">

<div *ngIf="CompetitionVar">

	<br>

	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="/competitions">
				Competitions
			</a>
		</li>
		<li class="breadcrumb-item active">
			{{(CompetitionVar | async)?.Game.Name}}
		</li>
	</ol>

	<hr>

	<div *ngIf="!auth.user">

		<h1 class="display-4">{{(CompetitionVar | async)?.Game.Name}}</h1>

		<div class="row">
			<div class="col-5">
				<br>
				<br>
				<p>{{(CompetitionVar | async)?.Game.Description}}</p>
			</div>
			<div class="col-7">

				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link active" href="#gameReveal" data-toggle="tab">Game Reveal</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#robotReveal" data-toggle="tab">Robot Reveal</a>
					</li>
				</ul>

				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active fade show">
						Game Reveal coming shortly.
					</div>
					<div role="tabpanel" class="tab-pane fade" id="robotReveal">
						Robot Reveal coming shortly.
					</div>
				</div>

			</div>
		</div>

		<br>
		<br>

		<h1 class="display-4">{{(CompetitionVar | async)?.Robot.Name}}</h1>

		<br>
		<br>

		<div class="row">
			<div class="col-6">
				<div class="card mb-3">
					<img class="card-img-top" [src]="(CompetitionVar | async)?.Robot.Image" alt="Robot Image">
					<div class="card-footer">
						<a [href]="(CompetitionVar | async)?.Robot.Report" class="btn btn-danger">
							View Robot Report
						</a>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="card">
					<div class="card-header">
						<h4>Regionals</h4>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item" *ngFor="let Regional of Regionals | async">
							<span class="badge badge-danger">{{Regional.Location}}</span> {{Regional.Awards}}
						</li>
					</ul>
				</div>
				<br>
				<br>
				<div class="card">
					<div class="card-header">
						<h4>Quick Facts</h4>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item" *ngFor="let Fact of Facts | async">
							<span class="badge badge-pill badge-danger">{{Fact.Key}}</span> {{Fact.Value}}
						</li>
					</ul>
				</div>
			</div>
		</div>

		<br>
		<br>

		<div class="card">
			<div class="card-header">
				<h4>Abilities</h4>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item" *ngFor="let Ability of Abilities | async">
					{{Ability.Name}}
				</li>
			</ul>
		</div>

	</div>

	<div *ngIf="auth.user">

		<div id="Season">

			<h1 class="display-4">Season</h1>

			<br>

			<div class="card">
				<div class="card-header">
					<div class="row">
					<div class="col-11">
						<h4 class="card-title">About the Game</h4>
					</div>
					<div class="col-1">
						<div class="btn-group">
							<button class="btn btn-danger" (click)="saveCompetition(year.value, gameName.value, gameReveal.value, gameDescription.value, robotImage.value, robotName.value, robotReport.value, robotReveal.value)">
								<i class="fa fa-lg fa-save"></i>
							</button>
						</div>
					</div>
					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-2 form-group">
							<label>Year</label>
							<input #year type="number" [ngModel]="(CompetitionVar | async)?.Year" class="form-control">
						</div>
						<div class="col-5 form-group">
							<label>Name</label>
							<input #gameName type="text" [ngModel]="(CompetitionVar | async)?.Game.Name" class="form-control">
						</div>
						<div class="col-5 form-group">
							<label>Reveal</label>
							<input #gameReveal type="text" [ngModel]="(CompetitionVar | async)?.Game.Reveal" class="form-control">
						</div>
					</div>
					<label>Description</label>
					<textarea #gameDescription [ngModel]="(CompetitionVar | async)?.Game.Description" class="form-control" rows="5">
					</textarea>
				</div>
			</div>

		</div>

		<br>
		<br>

		<h1 class="display-4">Robot</h1>

		<br>

		<div id="Robot">

			<div class="card">
				<div class="card-header">
					<div class="row">
					<div class="col-11">
						<h4 class="card-title">Overview</h4>
					</div>
					<div class="col-1">
						<div class="btn-group">
							<button class="btn btn-danger" (click)="saveCompetition(year.value, gameName.value, gameReveal.value, gameDescription.value, robotImage.value, robotName.value, robotReport.value, robotReveal.value)">
								<i class="fa fa-lg fa-save"></i>
							</button>
						</div>
					</div>
					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-6 form-group">
							<label>Name</label>
							<input #robotName type="text" [ngModel]="(CompetitionVar | async)?.Robot.Name" class="form-control">
						</div>
						<div class="col-6 form-group">
							<label>Reveal</label>
							<input #robotReveal type="text" [ngModel]="(CompetitionVar | async)?.Robot.Reveal" class="form-control">
						</div>
					</div>
					<div class="row">
						<div class="col-12 form-group">
							<label>Image</label>
							<input #robotImage type="text" [ngModel]="(CompetitionVar | async)?.Robot.Image" class="form-control">
						</div>
					</div>
					<div class="row">
						<div class="col-12 form-group">
							<label>Report</label>
							<input #robotReport type="text" [ngModel]="(CompetitionVar | async)?.Robot.Report" class="form-control">
						</div>
					</div>
				</div>
			</div>

			<br>

			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Quick Facts</h4>
				</div>
				<ul class="list-group list-group-flush">
					<li *ngFor="let Fact of Facts | async" class="list-group-item">
						<div class="input-group">
							<input type="text" [(ngModel)]="Fact.Key" class="form-control" placeholder="Key">
							<span class="input-group-addon"></span>
							<input type="text" [(ngModel)]="Fact.Value" class="form-control" placeholder="Value">
							<div class="input-group-btn">
								<button class="btn btn-danger" (click)="saveFact(Fact)">
									<i class="fa fa-lg fa-save"></i>
								</button>
							</div>
							<div class="input-group-btn">
								<button class="btn btn-danger" (click)="removeFact(Fact.id);">
									<i class="fa fa-lg fa-trash"></i>
								</button>
							</div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="input-group">
							<span class="input-group-addon">New Fact</span>
							<input type="text" [(ngModel)]="newFact.Key" (keyup.enter)="addFact();" class="form-control">
							<span class="input-group-addon"></span>
							<input type="text" [(ngModel)]="newFact.Value" (keyup.enter)="addFact();" class="form-control">
							<div class="input-group-btn">
								<button class="btn btn-danger" (click)="addFact();">
									<i class="fa fa-lg fa-plus"></i>
								</button>
							</div>
						</div>
					</li>
				</ul>
			</div>

			<br>

			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Abilities</h4>
				</div>
				<ul class="list-group list-group-flush">
					<li *ngFor="let Ability of Abilities | async" class="list-group-item">
						<div class="input-group">
							<input type="text" [(ngModel)]="Ability.Name" class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-danger" (click)="saveAbility(Ability)">
									<i class="fa fa-lg fa-save"></i>
								</button>
							</span>
							<span class="input-group-btn">
								<button class="btn btn-danger" (click)="removeAbility(Ability.id);">
									<i class="fa fa-lg fa-trash"></i>
								</button>
							</span>
						</div>
					</li>

					<li class="list-group-item">
						<div class="input-group">
							<span class="input-group-addon">New Ability</span>
							<input type="text" [(ngModel)]="newAbility.Name" (keyup.enter)="addAbility();" class="form-control">
							<div class="input-group-btn">
								<button class="btn btn-danger" (keyup.enter)="addAbility();" (click)="addAbility();">
									<i class="fa fa-lg fa-plus"></i>
								</button>
							</div>
						</div>
					</li>
				</ul>
			</div>

			<br>

			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Regionals</h4>
				</div>
				<ul class="list-group list-group-flush">
					<li *ngFor="let Regional of Regionals | async" class="list-group-item">
						<div class="input-group">
							<input type="text" [(ngModel)]="Regional.Location" class="form-control">
							<span class="input-group-addon"></span>
							<input type="text" [(ngModel)]="Regional.Awards" class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-danger" (click)="saveRegional(Regional)">
									<i class="fa fa-lg fa-save"></i>
								</button>
							</span>
							<span class="input-group-btn">
								<button class="btn btn-danger" (click)="removeRegional(Regional.id);">
									<i class="fa fa-lg fa-trash"></i>
								</button>
							</span>
						</div>
					</li>

					<li class="list-group-item">
						<div class="input-group">
							<span class="input-group-addon">New Regional</span>
							<input type="text" [(ngModel)]="newRegional.Location" placeholder="Location" (keyup.enter)="addRegional();" class="form-control">
							<span class="input-group-addon"></span>
							<input type="text" [(ngModel)]="newRegional.Awards" placeholder="Awards" (keyup.enter)="addRegional();" class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-danger" (click)="addRegional();">
									<i class="fa fa-lg fa-plus"></i>
								</button>
							</span>
						</div>
					</li>
				</ul>
			</div>

		</div>

	</div>

</div>

<div *ngIf="new">
<div *ngIf="auth.user">

	<br>

	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="/competitions">
				Competitions
			</a>
		</li>
		<li class="breadcrumb-item active">
			{{newCompetition.Game.Name}}
		</li>
	</ol>

	<hr>

	<div id="Season">

		<h1 class="display-4">Season</h1>

		<br>

		<div class="card">
			<div class="card-header">
				<div class="row">
				<div class="col-10">
					<h4 class="card-title">About the Game</h4>
				</div>
				<div class="col-2">
					<div class="btn-group">
						<button class="btn btn-danger" (click)="addCompetition()">
							Add Competition
						</button>
					</div>
				</div>
				</div>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-2 form-group">
						<label>Year</label>
						<input type="number" [(ngModel)]="newCompetition.Year" class="form-control">
					</div>
					<div class="col-5 form-group">
						<label>Name</label>
						<input type="text" [(ngModel)]="newCompetition.Game.Name" class="form-control">
					</div>
					<div class="col-5 form-group">
						<label>Reveal</label>
						<input type="text" [(ngModel)]="newCompetition.Game.Reveal" class="form-control">
					</div>
				</div>
				<label>Description</label>
				<textarea [(ngModel)]="newCompetition.Game.Description" class="form-control" rows="5">
				</textarea>
			</div>
		</div>

	</div>

	<br>
	<br>

	<h1 class="display-4">Robot</h1>

	<br>

	<div id="Robot">

		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Overview</h4>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-6 form-group">
						<label>Name</label>
						<input type="text" [(ngModel)]="newCompetition.Robot.Name" class="form-control">
					</div>
					<div class="col-6 form-group">
						<label>Reveal</label>
						<input type="text" [(ngModel)]="newCompetition.Robot.Reveal" class="form-control">
					</div>
				</div>
				<div class="row">
					<div class="col-12 form-group">
						<label>Image</label>
						<input type="text" [(ngModel)]="newCompetition.Robot.Image" class="form-control">
					</div>
				</div>
				<div class="row">
					<div class="col-12 form-group">
						<label>Report</label>
						<input type="text" [(ngModel)]="newCompetition.Robot.Report" class="form-control">
					</div>
				</div>
			</div>
		</div>

		<br>

		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Quick Facts</h4>
			</div>
			<ul class="list-group list-group-flush">
				<li *ngFor="let Fact of newFacts" class="list-group-item">
					<div class="row">
						<div class="form-group col-4">
							<input type="text" [(ngModel)]="Fact.Key" class="form-control">
						</div>
						<div class="form-group col-6">
							<input type="text" [(ngModel)]="Fact.Value" class="form-control">
						</div>
						<div class="form-group col-2">
							<div class="btn-group">
								<button class="btn btn-danger" (click)="addNewFact(Fact)">
									<i class="fa fa-lg fa-plus"></i>
								</button>
								<button class="btn btn-danger" (click)="removeNewFact(Fact);">
									<i class="fa fa-lg fa-trash"></i>
								</button>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<br>

		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Abilities</h4>
			</div>
			<ul class="list-group list-group-flush">
				<li *ngFor="let Ability of newAbilities" class="list-group-item">
					<div class="row">
						<div class="form-group col-10">
							<input type="text" [(ngModel)]="Ability.Name" class="form-control">
						</div>
						<div class="form-group col-2">
							<div class="btn-group">
								<button class="btn btn-danger" (click)="addNewAbility(Ability)">
									<i class="fa fa-lg fa-plus"></i>
								</button>
								<button class="btn btn-danger" (click)="removeNewAbility(Ability);">
									<i class="fa fa-lg fa-trash"></i>
								</button>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<br>

		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Regionals</h4>
			</div>
			<ul class="list-group list-group-flush">
				<li *ngFor="let Regional of newRegionals" class="list-group-item">
					<div class="row">
						<div class="form-group col-4">
							<input type="text" [(ngModel)]="Regional.Location" class="form-control">
						</div>
						<div class="form-group col-6">
							<input type="text" [(ngModel)]="Regional.Awards" class="form-control">
						</div>
						<div class="form-group col-2">
							<div class="btn-group">
								<button class="btn btn-danger" (click)="addNewRegional(Regional)">
									<i class="fa fa-lg fa-plus"></i>
								</button>
								<button class="btn btn-danger" (click)="removeNewRegional(Regional);">
									<i class="fa fa-lg fa-trash"></i>
								</button>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>

	</div>

</div>
</div>

</div>
