<div class="container">

	<br>

	<h1 class="display-4">Sponsorship Tiers</h1>

	<br>

	<div *ngIf="!auth.user">

		<div *ngFor="let Tier of Tiers$ | async">

			<div class="card">
				<div class="card-header">
					<h2>{{Tier.Name}} Tier: ${{Tier.Bounds.Lower}}-${{Tier.Bounds.Upper}}</h2>
				</div>
				<ul class="list-group list-group-flush">
					<li *ngFor="let Benefit of Tier.Benefits" class="list-group-item">
						{{Benefit}}
					</li>
				</ul>
			</div>

			<br>

		</div>

	</div>

	<div *ngIf="auth.user">

		<div *ngFor="let Tier of Tiers$ | async">

			<div class="card mb-3">
				<div class="card-header">
				<div class="input-group input-group-lg">
					<input type="text" [(ngModel)]="Tier.Name" class="form-control">
					<span class="input-group-addon">Tier</span>

					<span class="input-group-addon">Min: $</span>
					<input type="text" [(ngModel)]="Tier.Bounds.Lower" class="form-control">

					<span class="input-group-addon">Max: $</span>
					<input type="text" [(ngModel)]="Tier.Bounds.Upper" class="form-control">

					<div class="input-group-btn">
						<button class="btn btn-danger" (click)="saveTier(Tier);">
							<i class="fa fa-lg fa-save"></i>
						</button>
					</div>
					<div class="input-group-btn">
						<button class="btn btn-danger" (click)="removeTier(Tier.$key);">
							<i class="fa fa-lg fa-trash-o"></i>
						</button>
					</div>
				</div>
				</div>
				<ul class="list-group list-group-flush">
					<li *ngFor="let Benefit of Tier.Benefits;trackBy: trackTier;let i = index" class="list-group-item">
						<div class="input-group">
							<input type="text" [(ngModel)]="Tier.Benefits[i]" placeholder="New Benefit" class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-danger" (click)="addBenefit(Tier.Benefits, Benefit);">
									<i class="fa fa-lg fa-plus"></i>
								</button>
							</span>
							<span class="input-group-btn">
								<button class="btn btn-danger" (click)="removeBenefit(Tier.Benefits, Benefit);">
									<i class="fa fa-lg fa-trash-o"></i>
								</button>
							</span>
						</div>
					</li>
				</ul>
			</div>

		</div>

		<h1>Add Tier</h1>

		<br>

		<div class="card mb-3">
			<div class="card-header">
				<div class="input-group input-group-lg">
					<input type="text" [(ngModel)]="newTier.Name" class="form-control">
					<span class="input-group-addon">Tier</span>

					<span class="input-group-addon">Min: $</span>
					<input type="text" [(ngModel)]="newTier.Bounds.Lower" class="form-control">

					<span class="input-group-addon">Max: $</span>
					<input type="text" [(ngModel)]="newTier.Bounds.Upper" class="form-control">

					<div class="input-group-btn">
						<button class="btn btn-danger" (click)="addTier(newTier);">
							<i class="fa fa-lg fa-plus"></i>
						</button>
					</div>
				</div>
			</div>
			<ul class="list-group list-group-flush">
				<li *ngFor="let Benefit of newTier.Benefits;trackBy: trackTier;let i = index" class="list-group-item">
					<div class="input-group">
						<input type="text" [(ngModel)]="newTier.Benefits[i]" placeholder="New Benefit" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-danger" (click)="addBenefit(newTier.Benefits, Benefit);">
								<i class="fa fa-lg fa-plus"></i>
							</button>
						</span>
						<span class="input-group-btn">
							<button class="btn btn-danger" (click)="removeBenefit(newTier.Benefits, Benefit);">
								<i class="fa fa-lg fa-trash-o"></i>
							</button>
						</span>
					</div>
				</li>
			</ul>
		</div>

		<br>

	</div>

	<h1 class="display-4">Our Sponsors</h1>

	<br>

	<div *ngIf="!auth.user">

		<ul class="list-group">
			<li *ngFor="let Sponsor of Sponsors$ | async" class="list-group-item">
				<div class="row">
					<div class="col-4">{{Sponsor.Name}}</div>
					<div class="col-8">
						<span class="float-right">
							<img [src]="Sponsor.Image" style="max-height:400px; max-width: 400px" class="img-responsive img-thumbnail">
						</span>
					</div>
				</div>
			</li>
		</ul>

	</div>

	<div *ngIf="auth.user">

		<table class="table">
			<thead>
				<tr class="row">
					<th class="col-3">Name</th>
					<th class="col-7">Image URL</th>
					<th class="col-2">
						<span class="float-right">Actions</span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let Sponsor of Sponsors$ | async" class="row">
					<td class="col-3">
						<input type="text" [(ngModel)]="Sponsor.Name" placeholder="Sponsor Name" class="form-control">
					</td>
					<td class="col-7">
						<input type="text" [(ngModel)]="Sponsor.Image" placeholder="Sponsor Image URL" class="form-control">
					</td>
					<td class="col-2">
						<div class="btn-group float-right">
							<button class="btn btn-danger" (click)="saveSponsor(Sponsor);">
								<i class="fa fa-lg fa-save"></i>
							</button>
							<button class="btn btn-danger" (click)="removeSponsor(Sponsor.id);">
								<i class="fa fa-lg fa-trash-o"></i>
							</button>
						</div>
					</td>
				</tr>
				<tr class="row">
					<td class="col-3">
						<input type="text" [(ngModel)]="newSponsor.Name" placeholder="Sponsor Name" class="form-control">
					</td>
					<td class="col-7">
						<input type="text" [(ngModel)]="newSponsor.Image" placeholder="Sponsor Image" class="form-control">
					</td>
					<td class="col-2">
						<div class="btn-group float-right">
							<button class="btn btn-danger" (click)="addSponsor();">
								<i class="fa fa-lg fa-plus"></i>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

	<br>

	<h1 class="display-4">Tax Credit Donations</h1>

	<br>

	<h4>
		<a href="http://webstores.activenetwork.com/school-software/paradise_valley_high/index.php?l=product_detail&p=354#.UiYX5GREiA1">
			Make a Tax Credit Donation to Team Paradise!
		</a>
	</h4>

	<br>

	<h4>What is a Tax Credit donation?</h4>
	<p>
		A tax credit donation is a donation to a group or club that qualifies for an income tax deductible.
		Any married couple can donate $400 and any one person can donate $200 to get a tax deductible.
		This benefits both parties because you can donate to our robotics team and support us while also paying less in taxes.
	</p>

</div>
