<div class="jumbotron text-center">
	<h1 class="text-white font-weight-bold display-1">Building Better</h1>
	<h1 class="text-white font-weight-bold display-2">People</h1>
	<br>
	<p class="lead">
    	<a class="btn btn-primary btn-lg btn-danger" href="/about/people">
    		Learn more
		</a>
	</p>
</div>

<div class="container">

	<div *ngIf="!auth.user">

		<div class="card-group">

			<div *ngFor="let Announcement of Main | async" class="card bg-warning text-white mb-5">
				<div class="card-header">
					<h3>{{Announcement.Title}}</h3>
				</div>
				<div class="card-body">
					<p class="card-text">{{Announcement.Text}}</p>
				</div>
			</div>

		</div>

	</div>

	<div *ngIf="auth.user">

		<div class="card-group">

			<div *ngFor="let Announcement of Main | async" class="card mb-5">
				<div class="card-header">
					<div class="form-group">
						<input [(ngModel)]="Announcement.Title" class="form-control">
					</div>
				</div>
				<div class="card-body">
					<div class="form-group">
						<textarea [(ngModel)]="Announcement.Text" class="form-control" rows="10"></textarea>
					</div>
				</div>
				<div class="card-footer">
					<button class="btn btn-outline-danger" (click)="saveMain(Announcement);">
						<i class="fa fa-lg fa-save"></i>
					</button>
				</div>
			</div>

		</div>

	</div>

	<br>

	<div *ngIf="!auth.user">

		<div *ngFor="let Announcement of Others | async; let index = index">

			<div class="card mb-4" [ngClass]="getCardColor(index)">
				<div class="card-header text-white">
					<h1 class="display-4">{{Announcement.Title}}</h1>
				</div>
				<ul class="list-group list-group-flush">
					<li *ngFor="let Annc of Announcement.Text" class="list-group-item">
						{{Annc.Text}}
					</li>
				</ul>
			</div>

		</div>

	</div>

	<div *ngIf="auth.user">

		<div *ngFor="let Announcement of Others | async; let index = index">
			<div class="card mb-4">
				<div class="card-header">
				<div class="row">
					<div class="col-9 form-group">
						<input type="text" [(ngModel)]="Announcement.Title" class="form-control">
					</div>
					<div class="col-3">
					<div class="btn-group float-right">
						<button class="btn btn-outline-danger" (click)="saveOther(Announcement);">
							<i class="fa fa-lg fa-save"></i>
						</button>
						<button class="btn btn-outline-danger" (click)="removeAnnouncement(Announcement);">
							<i class="fa fa-lg fa-trash"></i>
						</button>
					</div>
					</div>
				</div>
				</div>
				<div class="card-body">
					<div *ngFor="let Annc of Announcement.Text" class="row">
						<div class="col-md-10 form-group">
							<textarea [(ngModel)]="Annc.Text" class="form-control" rows="5"></textarea>
						</div>
						<div class="col-2">
						<div class="btn-group float-right">
							<button class="btn btn-outline-danger" (click)="addAnnc(Announcement.Text, Annc);">
								<i class="fa fa-lg fa-plus"></i>
							</button>
							<button class="btn btn-outline-danger" (click)="removeAnnc(Announcement.Text, Annc);">
								<i class="fa fa-lg fa-trash"></i>
							</button>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr>

		<h1 class="display-4">Add New Announcement</h1>

		<br>

		<div class="card mb-3">
			<div class="card-header form-control">
				<div class="row">
					<div class="col-11 form-group">
						<input type="text" [(ngModel)]="newAnnouncement.Title" placeholder="Announcement Title" class="form-control">
					</div>
					<div class="col-1">
					<div class="btn-group float-right">
						<button class="btn btn-outline-danger float-right" (click)="addAnnouncement();">
							<i class="fa fa-lg fa-trash"></i>
						</button>
					</div>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div *ngFor="let Annc of newAnnouncement.Text" class="row">
					<div class="col-md-10 form-group">
						<textarea [(ngModel)]="Annc.Text" placeholder="Announcement Text" class="form-control" rows="5"></textarea>
					</div>
					<div class="col-2">
					<div class="btn-group float-right">
						<button class="btn btn-outline-danger" (click)="addAnnc(newAnnouncement.Text, Annc);">
							<i class="fa fa-lg fa-plus"></i>
						</button>
						<button class="btn btn-outline-danger" (click)="removeAnnc(newAnnouncement.Text, Annc);">
							<i class="fa fa-lg fa-trash"></i>
						</button>
					</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
