<div class="jumbotron text-center">
	<h1 class="text-white font-weight-bold display-1">Building Better</h1>
	<h1 class="text-white font-weight-bold display-2">People</h1>
	<br>
	<p class="lead">
    	<a class="btn btn-primary btn-lg btn-danger" href="/about/people">
    		Learn more
		</a>
	</p>
</div>

<div class="container">

	<div *ngIf="!auth.user">

		<div class="card-group">

			<div *ngFor="let Announcement of Announcements$ | async" class="card bg-warning text-white mb-5">
				<div class="card-header">
					<h3>{{Announcement.Title}}</h3>
				</div>
				<div class="card-body">
					<p class="card-text">{{Announcement.Text}}</p>
				</div>
			</div>

		</div>

	</div>

	<div *ngIf="auth.user">

		<div class="card-group">

			<div *ngFor="let Announcement of Announcements$ | async" class="card mb-5">
				<div class="card-header">
					<div class="input-group">
						<input [(ngModel)]="Announcement.Title" class="form-control">
						<div class="input-group-btn">
							<button class="btn btn-danger" (click)="saveAnnouncement(Announcement);">
								<i class="fa fa-lg fa-save"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="form-group">
						<textarea [(ngModel)]="Announcement.Text" class="form-control" rows="10"></textarea>
					</div>
				</div>
			</div>

		</div>

	</div>

	<br>

	<div *ngIf="!auth.user">

		<div *ngFor="let Report of Reports$ | async">

			<div class="card mb-4">
				<div class="card-header">
					<h1 class="display-4">{{Report.Title}}</h1>
				</div>
				<ul class="list-group list-group-flush">
					<li *ngFor="let Annc of Report.Text" class="list-group-item">
						{{Annc.Name}}
					</li>
				</ul>
			</div>

		</div>

	</div>

	<div *ngIf="auth.user">

		<div *ngFor="let Report of Reports$ | async">
			<div class="card mb-4">
				<div class="card-header">
				<div class="input-group">
					<input type="text" [(ngModel)]="Report.Title" class="form-control">
					<div class="input-group-btn">
						<button class="btn btn-danger" (click)="saveReport(Report);">
							<i class="fa fa-lg fa-save"></i>
						</button>
					</div>
					<div class="input-group-btn">
						<button class="btn btn-danger" (click)="removeReport(Report);">
							<i class="fa fa-lg fa-trash"></i>
						</button>
					</div>
				</div>
				</div>
				<div class="card-body">
					<div *ngFor="let Annc of Report.Text; trackBy: trackReport" class="row">
						<div class="col-md-10 form-group">
							<textarea [(ngModel)]="Annc.Name" class="form-control" rows="5"></textarea>
						</div>
						<div class="col-2">
						<div class="btn-group float-right">
							<button class="btn btn-danger" (click)="addAnnc(Report.Text, Annc);">
								<i class="fa fa-lg fa-plus"></i>
							</button>
							<button class="btn btn-danger" (click)="removeAnnc(Report.Text, Annc);">
								<i class="fa fa-lg fa-trash"></i>
							</button>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr>

		<h1 class="display-4">Add New Announcement</h1>

		<br>

		<div class="card mb-3">
			<div class="card-header form-control">
				<div class="input-group">
					<input type="text" [(ngModel)]="newReport.Title" placeholder="Announcement Title" class="form-control">
					<div class="input-group-btn">
						<button class="btn btn-danger float-right" (click)="addReport();">
							<i class="fa fa-lg fa-plus"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div *ngFor="let Annc of newReport.Text" class="row">
					<div class="col-md-10 form-group">
						<textarea [(ngModel)]="Annc.Name" placeholder="Announcement Text" class="form-control" rows="5"></textarea>
					</div>
					<div class="col-2">
					<div class="btn-group float-right">
						<button class="btn btn-danger" (click)="addAnnc(newReport.Text, Annc);">
							<i class="fa fa-lg fa-plus"></i>
						</button>
						<button class="btn btn-danger" (click)="removeAnnc(newReport.Text, Annc);">
							<i class="fa fa-lg fa-trash"></i>
						</button>
					</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
