<div class="jumbotron jumbotron-fluid text-center">
	<h1 class="text-white font-weight-bold display-1">Building Better</h1>
	<h1 class="text-white font-weight-bold display-2">People</h1>
	<br>
	<p class="lead">
    	<a class="btn btn-primary btn-lg btn-danger" href="/about/people">
    		Learn more
		</a>
	</p>
</div>

<div class="container">

	<hr>

	<p class="lead">
		<b>Team Paradise 1165</b> is a group of high school kids who love to build robots!
		We design, build, program, and test amazing creation to compete in the FIRST Robotics Challenges.
		We also focus on reaching out to our community to share the wonders of science and technology.
		Our goal is to grow the individual not only in knowledge but also in character.
	</p>

	<hr>

	<div *ngIf="!auth.user">

		<div class="card-group">

			<div *ngFor="let Announcement of Announcements$ | async" class="card">
				<div class="card-header">
					<h3>{{Announcement.Title}}</h3>
				</div>
				<div class="card-body">
					<p class="card-text">{{Announcement.Text}}</p>
				</div>
			</div>

		</div>

	</div>

	<div *ngIf="auth.user">

		<div class="card-group">

			<div *ngFor="let Announcement of Announcements$ | async" class="card">
				<div class="card-header">
					<div class="input-group">
						<input [(ngModel)]="Announcement.Title" class="form-control">
						<div class="input-group-btn">
							<button class="btn btn-danger" (click)="saveAnnouncement(Announcement);">
								<i class="fa fa-lg fa-save"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="form-group">
						<textarea [(ngModel)]="Announcement.Text" class="form-control" rows="10"></textarea>
					</div>
				</div>
			</div>

		</div>

	</div>

	<!-- <hr>

	<div id="carousel" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div *ngFor="let robot of robots; let first = first" class="carousel-item" [class.active]="first">
				<img class="d-block w-100" [src]="robot.url" [alt]="robot.name" height="200" width="100">
			</div>
			<a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>

	<hr>

	<div class="row">
		<div *ngFor="let robot of robots" class="col">
			<a [href]="robot.url" class="text-primary">
				<img [src]="robot.url" height="100" width="100%">
				{{robot.name}}
			</a>
		</div>
	</div>

	<hr>

	<div class="row">
		<div *ngFor="let Robot of Robots$ | async | reverse" class="col">
			<a [href]="Robot.Robot.Image" class="text-primary">
				<img [src]="Robot.Robot.Image" height="100" width="100%">
				{{Robot.Robot.Name}}
			</a>
		</div>
	</div>

	<hr> -->

</div>
